<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>asdfasd</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Стоимость</th>
            <th>Размер</th>
        </tr>
        </thead>
    <tbody>
    <tr th:each="shoe : ${shoes}">
        <td th:text="${shoe.getName()}"></td>
        <td th:text="${shoe.getPrice()}"></td>
        <td th:text="${shoe.getSize()}"></td>
    </tr>
    </tbody>
    </table>
</div>
</body>
</html>