<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>asdfasd</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Стоимость</th>
            <th>Размер</th>
            <th>Actions</th>
        </tr>
        </thead>
    <tbody>
    <tr th:each="shoe : ${shoes}">
        <td th:text="${shoe.getName()}"></td>
        <td th:text="${shoe.getPrice()}"></td>
        <td th:text="${shoe.getSize()}"></td>
        <td>
            <a href="" class="btn btn-success">
            <i class="fa fa-eraser"></i>

            </a>
        </td>
    </tr>
    </tbody>
    </table>
</div>
</body>
</html>